@font-face{
    font-family: Lemon Milk;
    src: url('../../public/font/LEMONMILK-Regular.otf');
}

.registerContainer{
    font-family: Lemon Milk;
    background-image: url('../../public/img/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    width: 30vw;
    height: 65vh;
    background-color: rgba(36, 36, 36, 0.85);
    font-family: Lemon Milk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registerForm h1{
    font-size: 4vw;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.registerForm input{
    width: 20vw;
    height: 5vh;
    margin: 15px;
    border-radius: 10px;
    background: grey;
    border: 1px solid lightgray;
    outline: none;
    padding: 3px;
    font-size: 15px;
    color: white;
}

.registerForm input::placeholder {
    color: #ddd
}

.registerForm button {
    width: 20vw;
    height: 5vh;
    padding: 3px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #d05e82;
    margin: 10px;
    background-color: #B8778C;
    color: #fff;
}