.editProduct{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50vh;
    border-radius: 30px;
    text-align: center;
    border: 7px solid black;
    background-color: rgb(36, 36, 36);
}

.closeModal{
    margin: 10px 20px 0 0;
    display: flex;
    flex-direction: row-reverse;
}

.editProduct h1{
    text-align: center;
}

.editProductInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editProductInput input, textarea{
    margin: 1%;
    width: 20vw;
    height: 4vh;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #555;
    padding: 10px;
    color: white;
}

input::placeholder,
textarea::placeholder{
    color: white;
}

.editProductInput textarea{
    height: 10vh;
}



.editProductInput button{
    margin: 20px 0 0 0;
    width: 20vw;
    height: 6vh;
    display: block;
    border: 5px solid #d05e82;
    padding: 10px;
    background-color: #B8778C;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
}

.closeEditModal{
    background-color: transparent;
    border: none;
    color: red;
    font-weight: 900;
    font-size: 25px;
}